main#boards {
  --trailing-tile-bg: '';
  --main-bg: rgb(205, 160, 86);

  display: flex;
  justify-content: center;
  padding: 5rem 4rem;
  /* background-color: var(--main-bg); */
  box-shadow: inset 0 0 150px rgba(0,0,0,0.5);
  background-color: #e5d1a4; 
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 4.5rem;
  width: 100%;
  max-width: 1000px;
}

.board-tile {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.1s ease-in;
  cursor: pointer;
  position: relative;
  filter: drop-shadow(5px 5px 5px #222);
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

.board-tile > .board-name {
  position: absolute;
  top: clamp(-3rem, -2rem - 10%, -1rem);
  height: 1rem;
  left: 0;
  width: calc(100% - 2rem);
  padding: clamp(0.5rem, 1rem - 10%, 1rem);
  text-wrap-mode: nowrap;
  text-transform: capitalize;
  font-size: calc(1rem + .7vw);
  overflow: hidden;
  background: var(--board-name-bg);
  display: grid;
  place-content: center;
}

.board-tile:not(.trailing-tile) {
  background-image: url('/images/house-tiles/house-small-1.png');
}

.board-tile.trailing-tile {
  background-image: var(--trailing-tile-bg);
  position: relative;
}

.board-tile.tile-hovered {
  animation: tile-float 1.3s ease-in-out infinite;
}

.board-tile.trailing-tile:hover::after {
  content: '';
  position: absolute;
  background: url('/images/icons/plus-sign.svg');
  background-repeat: no-repeat;
  background-size: contain;
  top: 3%;
  left: 6%;
  width: 88%;
  aspect-ratio: 1 / 1;
  mix-blend-mode: color-dodge;
}

@keyframes tile-float {
  0% {
    transform: translateY(0px);
    filter: drop-shadow(5px 5px 5px #222);
  }
  50% {
    transform: translateY(-7px);
    filter: drop-shadow(7px 15px 10px #222);
  }
  100% {
    transform: translateY(0px);
    filter: drop-shadow(5px 5px 5px #222);
  }
}