@font-face {
    font-family: 'jersey-pixel';
    src: url('../fonts/Jersey10-Regular.woff2') format('woff2'),
        url('../fonts/Jersey10-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lexend-sans';
    src: url('../fonts/Lexend-Regular.woff2') format('woff2'),
        url('../fonts/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  --items-container-bg: #5d4037;
  --board-name-bg: #5d4037;
  --items-container-border: 20px solid #3e2723;
  --items-container-border-color: #3e2723;
  --item-bg: #fdf5e6;
  --main-bg: rgba(205, 159, 86, 0.692);
  --headings-fonts: 'jersey-pixel', Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
  --normal-text-fonts: 'lexend-sans', Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  position: relative;
  font-family: var(--normal-text-fonts);
}

h1, h2, h3, h4, h5, h6, button {
  font-family: var(--headings-fonts);
}

input,
button,
select {
  font-size: 1rem;
  padding: .3rem .5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

[popover] {
  padding: 1rem 2rem;
  inset: unset;
  bottom: calc(anchor(top) - 2rem);
  left: anchor(right);
  margin: 0 1rem; 
}

.sidebar {
  background-color: var(--items-container-border-color);
  display: grid;
  justify-items: center;
  padding: .5rem;
}

.sidebar .logo {
  margin: 3rem 0 1rem;
  width: 100%;
  aspect-ratio: 1.8 / 1;
  background-image: url('./images/icons/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.3))
}

.sidebar .logo:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3))
}

.sidebar .logo:active {
  cursor: grab;
  transform: translate(2px, 2px);
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3))
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--items-container-bg);
  border-radius: 8px;
  padding: 0 1rem;
  width: 100%;
}

.sidebar-content button {
  background-color: var(--main-bg);
  opacity: 0.9;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--headings-fonts);
  border: 0;
  transition: all 150ms ease-in-out;
}

.sidebar-content button:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.sidebar-content .boards-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--main-bg);
  box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
  border-radius: 6px;
}

.sidebar-content .boards-list li {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--headings-fonts);
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  transition: all 150ms ease-in-out;
}

.sidebar-content .boards-list li:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.sidebar .boards-list li span {
  font-family: var(--normal-text-fonts);
  font-size: 0.8rem;
  color: #666;
}