body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  --items-container-bg: #5d4037;
  --board-name-bg: #5d4037;
  --items-container-border: 20px solid #3e2723;
  --item-bg: #fdf5e6;
  --main-bg: #696f6f;
}

div#screen-management {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(55, 38, 0);
  color: white;
  position: fixed;
  left: 4rem;
  top: 0;
  z-index: 1;
  border-radius: 0 0 16px 16px
}