@font-face {
    font-family: 'jersey-pixel';
    src: url('../fonts/Jersey10-Regular.woff2') format('woff2'),
        url('../fonts/Jersey10-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lexend-sans';
    src: url('../fonts/Lexend-Regular.woff2') format('woff2'),
        url('../fonts/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  --items-container-bg: #5d4037;
  --board-name-bg: #5d4037;
  --items-container-border: 20px solid #3e2723;
  --item-bg: #fdf5e6;
  --main-bg: #696f6f;
  --headings-fonts: 'jersey-pixel', Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
  --normal-text-fonts: 'lexend-sans', Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--normal-text-fonts);
}

h1, h2, h3, h4, h5, h6, button {
  font-family: var(--headings-fonts);
}

div#screen-management {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(55, 38, 0);
  color: white;
  position: fixed;
  left: 4rem;
  top: 0;
  z-index: 1;
  border-radius: 0 0 16px 16px
}