main#items {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  gap: 2rem;
  align-items: center;
  position: relative;
}

main#items::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/003/732/103/large/andreas-paul-texture-faked-02.jpg?1476906162');
  background-size: 25%;
  filter: contrast(0.5) brightness(0.4);
}

div.screen-management {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(55, 38, 0);
  color: white;
  position: fixed;
  left: 4rem;
  top: 0;
  z-index: 1;
  border-radius: 0 0 16px 16px
}

.board-name {
  color: white;
  font-size: 5rem;
  z-index: 0;
  font-family: var(--headings-fonts);
}

.items-container {
  background-color: var(--items-container-bg);
  background-image:
    repeating-linear-gradient(0deg, transparent, transparent 40px, rgba(0,0,0,0.1) 40px, rgba(0,0,0,0.1) 42px);
  border: var(--items-container-border);
  border-radius: 4px;
  padding: 3rem;
  box-shadow: 
    inset -5px -2px 10px 5px rgba(0,0,0,0.7),
    10px -2px 20px rgba(0,0,0,0.7);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-auto-rows: 150px;
  gap: 2rem;
  min-height: 600px;
  width: clamp(200px, 85%, 1500px);
  position: relative;
}

.item > .title {
  text-align: center;
}

.item.note {
  grid-row: span 1;
  min-height: 100px;
  
}

.item.todo {
  grid-row: span 1;
}

.item.list {
  grid-row: span 2;
}

.item.todolist {
  grid-row: span 2;
}

.item {
  background: var(--item-bg);
  width: 180px;
  padding: 20px;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
  position: relative;
  display: grid;
  /* font-family: 'Courier New', Courier, monospace; */
  color: #2f2f2f;
  font-weight: bold;
  border-bottom-right-radius: 60px 5px; 
  clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 2% 97%);
  transform-origin: top center;
}

.item > .item-contents {
  overflow: scroll;
  display: grid;
  align-content: start;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border 80ms;
}

.item > .item-contents:hover {
  border: 1px solid rgba(0,0,0,0.3);
}

.item > .decorative-div {
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0
}

.item-hovered {
  animation: flutter 0.8s ease-in-out; 
}

.item::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: #e74c3c;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.item:hover {
  cursor: pointer;
}

.add-item-btn-container {
  max-width: 180px;
  height: 85%;
  grid-column: 1 / -1;
  background-color: #2f2f2f75;
  border-radius: 8px;
  position: relative;
  border: 8px solid #2f2f2f33;
  box-shadow: 
    inset 2px 0 15px 3px rgba(0,0,0,0.7),
    3px 1px 10px rgba(0,0,0,0.7);
  transition: all .2s ease-in-out;
  button {
    width: 100%;
    height: 100%;
    opacity: 0
  }
}

.add-item-btn-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 70%;
  height: 70%;
  background: url('/images/icons/plus-sign.svg');
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode:exclusion;
  transition: all .2s ease-in-out;
}

.add-item-btn-container:hover {
  box-shadow: 
    inset 2px 0 15px 3px rgba(0,0,0,0.7),
    5px 2px 15px rgba(0,0,0,0.7);
}

.add-item-btn-container:hover::after {
  width: 75%;
  height: 75%;
}

@keyframes flutter {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(-2deg); }
  66% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}