main#items {
  --item-container-bg: #5d4037;
  --item-container-border: 20px solid #3e2723;
  --item-bg: #d0ca92;
  --main-bg: #696f6f;
  
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  gap: 2rem;
  align-items: center;
  position: relative;
}

main#items::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/003/732/103/large/andreas-paul-texture-faked-02.jpg?1476906162');
  background-size: 25%;
  filter: contrast(0.5) brightness(0.4);
}

.board-name {
  color: white;
  font-size: 5rem;
  z-index: 0;
}

.items-container {
  background-color: var(--item-container-bg);
  background-image:
    repeating-linear-gradient(0deg, transparent, transparent 40px, rgba(0,0,0,0.1) 40px, rgba(0,0,0,0.1) 42px);
  border: var(--item-container-border);
  border-radius: 4px;
  padding: 3rem;
  box-shadow: 
    inset -5px -2px 10px 5px rgba(0,0,0,0.7),
    10px -2px 20px rgba(0,0,0,0.7);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-auto-rows: 150px;
  gap: 2rem;
  min-height: 600px;
  width: clamp(200px, 85%, 1500px);
  position: relative;
}

.item > .title {
  text-align: center;
}

.item.note {
  grid-row: span 1;
  min-height: 100px;
  
}

.item.todo {
  grid-row: span 1;
}

.item.list {
  grid-row: span 2;
}

.item.todolist {
  grid-row: span 2;
}

.item {
  background: #fdf5e6;
  width: 180px;
  padding: 20px;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
  position: relative;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  color: #2f2f2f;
  font-weight: bold;
  border-bottom-right-radius: 60px 5px; 
  clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 2% 97%);
  transform-origin: top center;
}

.item > .item-contents {
  overflow: scroll;
  display: grid;
  align-content: start;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border 80ms;
}

.item > .item-contents:hover {
  border: 1px solid rgba(0,0,0,0.3);
}

.item > .decorative-div {
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0
}

.item-hovered {
  animation: flutter 0.8s ease-in-out; 
}

.item::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: #e74c3c;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.item:hover {
  cursor: pointer;
}

@keyframes flutter {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(-2deg); }
  66% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}